{%- style -%}
    #shopify-section-{{ section.id }} .promo-grid--space-top {
      padding-top: {{ section.settings.gutter_size }}px;
      margin-top: 0;
    }
    #shopify-section-{{ section.id }} .col-list img {
      max-height: {{ section.settings.collection_height }}px;
    }  

    @media only screen and (max-width: 589px) {
      #shopify-section-{{ section.id }} .promo-grid--space-top {
        padding-top: {{ section.settings.gutter_size | divided_by: 2 }}px;
      }
    } 

    #shopify-section-{{ section.id }} .promo-grid--space-bottom {
      padding-bottom: {{ section.settings.gutter_size }}px;
      margin-bottom: 0;
    }

    @media only screen and (max-width: 589px) {
      #shopify-section-{{ section.id }} .promo-grid--space-bottom {
        padding-bottom: {{ section.settings.gutter_size | divided_by: 2 }}px;
      }
    }
   .logo-carousel {
      max-width: 1200px;
      margin: 0 auto;
   }  

{%- endstyle -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width page-width-carousel {{ css_class }} logo-list-custom   {% if section.settings.space_above %} promo-grid--space-top{% endif %}{% if section.settings.space_below %} promo-grid--space-bottom{% endif %}">
  {%- if section.settings.title != blank -%}
    <div class="section-header small--text-center">
      <h2 class="section-header__title text-center">{{ section.settings.title | escape }}</h2>
    </div>
  {%- endif -%}
  <div class="logo-carousel">
    {%- for block in section.blocks -%}
      <div class="carousel-cell">
        <a href="/collections/{{ block.settings.feature_collection }}" class="col-list" aria-label="{{ block.settings.image.alt }}">
          {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_540x.' -%}
          <img class=" lazyload"
              data-src="{{ img_url }}"
              data-flickity-lazyload="{{ img_url }}"
              data-widths="[360, 540, 720, 1020]"
              data-aspectratio="{{ block.settings.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ block.settings.image.alt }}">
          {%- if block.settings.logo_title != blank -%}
            <h3>{{ block.settings.logo_title }}</h3>
          {%- endif -%}
          {%- if block.settings.logo_text != blank -%}
            <p>{{ block.settings.logo_text }}</p>
          {%- endif -%}
        </a>
        <h3 class="text-center">{{ block.settings.feature_collection }}</h3>
      </div>
    {%- endfor -%}
  </div>
</div>


{%- if section.settings.divider -%}</div>{%- endif -%}

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script>
  $( document ).ready(function() {
      console.log( "ready!" );
      $('.logo-carousel').flickity({
        // options
        cellAlign: 'left',
        contain: true,
        pageDots: false,
        wrapAround: true,
        setGallerySize: true,
        imagesLoaded: true
      });

  });

</script>

{% schema %}
{
  "name": "Collection list slider",
  "class": "shopify-section--collection-list",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align height of collection images",
      "default": false
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Collection image height",
      "min": 150,
      "max": 400,
      "step": 10,
      "default": 200,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "frontpage_collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "feature_collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list slider",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [ "*" ]
  }
}

{% endschema %}